
#ac-tickets-popup {
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  background-image: url('../images/ticket-title.gif');
  background-repeat: no-repeat;
  height: 20px;
  width: 100px;
  color: #333333;
  font-family: "Lucida Grande",Verdana,Verdana,Arial,Helvetica,sans-serif;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  line-height: normal;
  z-index: 10;
}
#ac-tickets-popup a {
  color: #900000;
  font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
  text-decoration: none;
}
#ac-tickets-title a,
#ac-tickets-menu a {
  outline: none;
}
#ac-tickets-title {
  background-image: url('../images/ticket-title-bckgrnd.gif');
  background-repeat: repeat-x;
  width: auto;
  height: 19px;
  margin-left: 35px;
  padding: 1px 0px 0px;
}
#ac-tickets-title a {
  margin: 0px;
  padding: 0px 10px 0px 5px;
  font-weight: bold;
  line-height: 18px;
}
#ac-tickets-title a:hover {
  text-decoration: underline;
}
#ac-tickets-menu {
  background-color: #D6D2A3;
  padding: 4px 0px 0px 12px;
  height: 26px;
}
#ac-tickets-menu li {
  display: inline;
  margin: 0px;
  padding: 0px;
}
#ac-tickets-menu li a {
  background: transparent url('../images/main_tab_left.gif') no-repeat scroll left top;
  display: block;
  float: left;
  height: 26px;
  margin-right: 2px;
}
#ac-tickets-menu li a:hover {
  text-decoration: underline;
}
#ac-tickets-menu li a span {
  background: transparent url('../images/main_tab_right.gif') no-repeat scroll right top;
  cursor: pointer;
  display: block;
  height: 19px;
  padding: 7px 8px 0px;
  white-space: nowrap;
  color: #575132;
  font-size: 10px;
  font-weight: bold;
}
#ac-tickets-content li a.selected {
  background-position: left bottom;
}
#ac-tickets-content li a.selected span {
  background-position: right bottom;
}
#ac-tickets-content {
  background-color: #FBFBFB;
  border-left: 1px solid #900000;
  height: 500px;
}
#ac-tickets-create,
#ac-tickets-list {
  padding: 0px 12px;
}
#ac-tickets-create div.form {
  margin: 0px;
  padding: 0px;
  width: auto;
}
#ac-tickets-form {
  font-size: 8pt;
  background: #FBFBFB;
  width: auto;
}
#ac-tickets-form label {
  color: #000000;
}
#ac-tickets-form label,
#ac-tickets-form input {
  font-size: 100%;
}
#ac-tickets-left {
  float: left;
  border-right: 1px solid #F1F1F1;
  padding-right: 15px;
}
#ac-tickets-left .form-text {
  width: 454px;
}
#ac-tickets-left .form-textarea {
  width: 458px;
  height: 60px;
}
#ac-tickets-right {
  float: right;
}
#ac-tickets-right .form-select,
#ac-tickets-right .form-text {
  width: 150px;
  background: #FFFFFF none repeat scroll 0% 0%;
  border: 1px solid #DDDDDD;
  font-size: 12px;
  padding: 3px;
}
#ac-tickets-right .form-select {
  width: 159px;
}
#ac-tickets-form #edit-visibility-wrapper span {
  color: #999999;
  font-size: 11px;
}
#ac-tickets-form .form-submit {
  margin: 0px;
  padding: 0px;
}
#ac-tickets-list {
  font-size: 11px;
}
#ac-tickets-list h2 {
  background: transparent url('../images/section_start.gif') no-repeat scroll left top;
  font-size: 13px;
  font-weight: bold;
  margin: 8px 0px;
  padding: 0px;
}
#ac-tickets-list h2 span {
  background: transparent url('../images/section_end.gif') no-repeat scroll right top;
  padding: 8px 15px 9px;
  display: block;
}
#ac-tickets-list .ac-tickets-milestone-content {
  padding: 0px 10px 10px;
}
#ac-tickets-list .ac-ticket-priority-2,
#ac-tickets-list .ac-ticket-priority-1,
#ac-tickets-list .ac-ticket-priority-0,
#ac-tickets-list .ac-ticket-priority--1,
#ac-tickets-list .ac-ticket-priority--2 {
  padding-left: 20px;
}
#ac-tickets-list .ac-ticket-priority-2 {
  background: transparent url('../images/highest.gif') no-repeat scroll left top;
}
#ac-tickets-list .ac-ticket-priority-1 {
  background: transparent url('../images/high.gif') no-repeat scroll left top;
}
#ac-tickets-list .ac-ticket-priority-0 {
  background: transparent url('../images/normal.gif') no-repeat scroll left top;
}
#ac-tickets-list .ac-ticket-priority--1 {
  background: transparent url('../images/low.gif') no-repeat scroll left top;
}
#ac-tickets-list .ac-ticket-priority--2 {
  background: transparent url('../images/lowest.gif') no-repeat scroll left top;
}
#ac-tickets-list .ac-tickets-milestone-content span {
  color: #999999;
  padding-right: 9px;
}
#ac-tickets-list a {
  color: #333333;
}
#ac-tickets-list a:hover {
  text-decoration: underline;
}
#ac-tickets-list,
#ac-tickets-view {
  height: 310px;
  overflow: auto;
}
#ac-tickets-view {
  margin: 0px;
  padding: 10px;
}
#ac-tickets-view h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 140%;
}
